.container {
    display: flex;
    flex-direction: column;
}

.hero {
  margin-bottom: 16px;
  padding: 12px;
  background: skyblue;
  
}

.main {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 6px;
}
